@model WebApplication1.Models.stuClass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
    <style>

        h4 {
            margin: 5px;
            margin-left: 0px;
            padding: 0px;
            color: red;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    <form id="form1">
        <input type="text" name="FirstName" id="firstName" value="@Model.FirstName" />

        <h4> @Html.ValidationMessageFor(x => x.FirstName) </h4>

        <input type="text" name="LastName" id="lastName" value="@Model.LastName">

        <h4> @Html.ValidationMessageFor(x => x.LastName) </h4>

        <input type="button" value="submit" onclick="addData()" />
    </form>


    <br />
    <p id="status"> Loading.....</p>
    <table id="students">
        <tr>
            <th>First Code</th>
            <th>Last Name</th>
        </tr>
    </table>

    <script language="javascript">

        $.get("getAllValues", null, fetchData);

        function fetchData(studentData) {
           
            var tbl = $("#students");
            if (studentData.length > 1) {
                for (var j = 0; j < studentData.length; j++) {
                    var rows = "<tr>" + "<td>" + studentData[j].firstName + "</td>" + "<td>" + studentData[j].lastName + "</td>" + "</tr>";
                    console.log(studentData[j].firstName);
                    tbl.append(rows);
                }
            }
            else {
                var rows = "<tr>" + "<td>" + studentData.firstName + "</td>" + "<td>" + studentData.lastName + "</td>" + "</tr>";
                tbl.append(rows);
            }
            $("#status").text("");
        }

        function addData() {
            $("#status").text("Adding Data Please Wait");
            console.log("btn working");
            var frm = $("#form1").serialize();
            console.log(frm);
            $.post("Submit", frm, fetchData);
            $("#firstName").val("");
            $("#lastName").val("");
            }
    </script>
</body>
</html>
